.error_modal_wrapper {
    z-index: 12;
    padding: var(--padding-modal-wrapper);
}
.error_modal_wrapper .error_modal {
    max-width: 384px;
}
.error_modal_wrapper .error_modal :global .ant-modal-body {
    padding: var(--padding-header);
    padding-bottom: var(--padding-modal-wrapper);
}
.error_modal_wrapper .error_modal :global .ant-modal-body .ant-modal-confirm-title {
    max-width: 250px;
    font-weight: 400;
    line-height: 130%;
}
.error_modal_wrapper .error_modal :global .ant-modal-body .ant-modal-confirm-content {
    color: var(--character-light-secondary-45);
    line-height: 130%;
}
.error_modal_wrapper .error_modal :global .ant-modal-body .ant-modal-confirm-btns {
    margin-top: 16px;
}
.error_modal_wrapper .error_modal :global .ant-modal-body .ant-modal-confirm-btns button {
    height: 28px;
    line-height: 130%;
}
.error_modal_wrapper .error_modal :global .ant-modal-body .anticon-close-circle {
    color: var(--primary-light-6);
    font-size: 24px;
}
