.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form_wrapper .title {
    line-height: 130%;
    text-align: center;
}

.form_wrapper .form :global .ant-input {
    font-size: 14px;
    line-height: 130%;
    font-weight: 400;
}

.form_wrapper .form .form_item_password :global .ant-input {
    font-size: 14px;
}

.form_wrapper .form .form_item_password :global .ant-form-item-explain {
    padding-top: 2px;
    font-size: 12px;
    line-height: 130%;
    min-height: 46px;
}

.form_wrapper .form .form_item_confirm_password {
    margin-bottom: 62px;
}

.form_wrapper .form .form_item_confirm_password :global .ant-form-item-explain {
    margin-top: 2px;
    font-size: 12px;
    line-height: 130%;
    min-height: 30px;
}

.form_wrapper .form .form_button_submit {
    margin-bottom: 0;
}

@media (max-width: 480px) {
    .form_wrapper .form .form_item_confirm_password {
        margin-bottom: 62px;
    }
}
